@model UserManagement.Web.Models.Logs.UserLogListViewModel

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>User ID</th>
                <th>Name</th>
                <th>Action</th>
                <th>Action Date</th>
                <th>Additional Info</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var log in Model.Items)
            {
                <tr>
                    <td>@log.UserId</td>
                    <td>@log.Forename @log.Surname</td>
                    <td>@log.Action</td>
                    <td>@log.ActionDate</td>
                    <td>@log.AdditionalInfo</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="pagination d-flex gap-4">
    @if (Model.Items.Count() > 0)
    {
        <p>Page: </p>
    }
    @if (Model.CurrentPage > 1)
    {
        <a href="?page=@(Model.CurrentPage - 1)">Previous</a>
    }
    @for (var i = 1; i <= Model.TotalPages; i++)
    {
        if (i == Model.CurrentPage)
        {
            <span>@i</span>
        }
        else
        {
            <a href="?page=@i">@i</a>
        }
    }
    @if (Model.CurrentPage < Model.TotalPages)
    {
        <a href="?page=@(Model.CurrentPage + 1)">Next</a>
    }
</div>
