@model UserManagement.Web.Models.Users.UserViewModel

<div class="container">
    <h1 class="mb-4">@Model.Forename @Model.Surname</h1>

    <div class="row-cols-2">
        <div class="pb-2">
            <h4 class="fw-bold">Email:</h4>
            <p>@Model.Email</p>
        </div>
        <div class="pb-2">
            <h4 class="fw-bold">Active:</h4>
            <p>@(Model.IsActive ? "Yes" : "No")</p>
        </div>
        <div class="pb-2">
            <h4 class="fw-bold">Date of Birth:</h4>
            <p>@Model.DateOfBirth.ToString("dd/MM/yyyy")</p>
        </div>

        <table class="table table-striped my-4">
        <thead>
            <tr>
                <th>Action</th>
                <th>Action Date</th>
                <th>Additional Info</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var log in Model.UserActionLogs)
            {
                <tr>
                    <td>@log.Action</td>
                    <td>@log.ActionDate.ToString("dd/MM/yyyy")</td>
                    <td>@log.AdditionalInfo</td>
                </tr>
            }
        </tbody>
    </table>

        <a class="btn btn-primary" asp-controller="users" asp-action="Index">Return to User List</a>
    </div>
</div>
